.main{
  /* background:radial-gradient(red,aqua); */
  position:relative;
 
 
}
.custom-dropdown
{
  margin-top:550px;
  margin-left:600px;
 position:absolute;
  background-color:black;
  color:white;
  width:250px;
  height:75px;
  font-size:25px;
  text-align:center;

}
